<div class="row">
  <div class="col-xs-2 col-sm-3 col-md-4 burgerlist">
    {{#each burgers}}
          {{#unless devoured}}
          <form action="burger/{{id}}" method="POST">
            <div class="input-group">
              <li class="form-control">{{id}}. {{burger_name}}</li>
                <span class="input-group-btn">
                  <button class="btn btn-success devour-button" type="submit">Devour It!</button>
                </span>
            </div>
          </form>
          {{/unless}}
        {{/each}}
    
  </div>
  <div class="col-xs-8 col-sm-6 col-md-4" id="sign">
  		<img src="/assets/image/burger.png">
  		<h1>Eat-Da-Burger!</h1></div>
  <div class="col-xs-2 col-sm-3 col-md-4"></div>
</div>

<div class="row">
  <div class="col-xs-2 col-sm-3 col-md-4">   
  </div>
  <div class="col-xs-8 col-sm-6 col-md-4">
  	<form method="POST" action="/create">
  		<textarea class="form-control" rows="2"></textarea>
		  <button type="submit" class="btn btn-danger" id="submit">Submit</button>
	  </form>
    <p>Enter a type of burger you would like to eat & click 'Submit'.</p>
  </div>
  <div class="col-xs-2 col-sm-3 col-md-4">
    
  </div>
</div>